*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*font-family Ubantu*/
@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/ubuntu-v12-latin-300.eot);
    src: local("Ubuntu Light"), local("Ubuntu-Light"), url(fonts/ubuntu-v12-latin-300.eot?#iefix) format("embedded-opentype"), url(fonts/ubuntu-v12-latin-300.woff2) format("woff2"), url(fonts/ubuntu-v12-latin-300.woff) format("woff"), url(fonts/ubuntu-v12-latin-300.ttf) format("truetype"), url(fonts/ubuntu-v12-latin-300.svg#Ubuntu) format("svg")
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/ubuntu-v12-latin-regular.eot);
    src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(fonts/ubuntu-v12-latin-regular.eot?#iefix) format("embedded-opentype"), url(fonts/ubuntu-v12-latin-regular.woff2) format("woff2"), url(fonts/ubuntu-v12-latin-regular.woff) format("woff"), url(fonts/ubuntu-v12-latin-regular.ttf) format("truetype"), url(fonts/ubuntu-v12-latin-regular.svg#Ubuntu) format("svg")
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 300;
    src: url(fonts/ubuntu-v12-latin-300italic.eot);
    src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url(fonts/ubuntu-v12-latin-300italic.eot?#iefix) format("embedded-opentype"), url(fonts/ubuntu-v12-latin-300italic.woff2) format("woff2"), url(fonts/ubuntu-v12-latin-300italic.woff) format("woff"), url(fonts/ubuntu-v12-latin-300italic.ttf) format("truetype"), url(fonts/ubuntu-v12-latin-300italic.svg#Ubuntu) format("svg")
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    src: url(fonts/ubuntu-v12-latin-500.eot);
    src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(fonts/ubuntu-v12-latin-500.eot?#iefix) format("embedded-opentype"), url(fonts/ubuntu-v12-latin-500.woff2) format("woff2"), url(fonts/ubuntu-v12-latin-500.woff) format("woff"), url(fonts/ubuntu-v12-latin-500.ttf) format("truetype"), url(fonts/ubuntu-v12-latin-500.svg#Ubuntu) format("svg")
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 400;
    src: url(fonts/ubuntu-v12-latin-italic.eot);
    src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url(fonts/ubuntu-v12-latin-italic.eot?#iefix) format("embedded-opentype"), url(fonts/ubuntu-v12-latin-italic.woff2) format("woff2"), url(fonts/ubuntu-v12-latin-italic.woff) format("woff"), url(fonts/ubuntu-v12-latin-italic.ttf) format("truetype"), url(fonts/ubuntu-v12-latin-italic.svg#Ubuntu) format("svg")
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 500;
    src: url(fonts/ubuntu-v12-latin-500italic.eot);
    src: local("Ubuntu Medium Italic"), local("Ubuntu-MediumItalic"), url(fonts/ubuntu-v12-latin-500italic.eot?#iefix) format("embedded-opentype"), url(fonts/ubuntu-v12-latin-500italic.woff2) format("woff2"), url(fonts/ubuntu-v12-latin-500italic.woff) format("woff"), url(fonts/ubuntu-v12-latin-500italic.ttf) format("truetype"), url(fonts/ubuntu-v12-latin-500italic.svg#Ubuntu) format("svg")
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/ubuntu-v12-latin-700.eot);
    src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(fonts/ubuntu-v12-latin-700.eot?#iefix) format("embedded-opentype"), url(fonts/ubuntu-v12-latin-700.woff2) format("woff2"), url(fonts/ubuntu-v12-latin-700.woff) format("woff"), url(fonts/ubuntu-v12-latin-700.ttf) format("truetype"), url(fonts/ubuntu-v12-latin-700.svg#Ubuntu) format("svg")
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 700;
    src: url(fonts/ubuntu-v12-latin-700italic.eot);
    src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url(fonts/ubuntu-v12-latin-700italic.eot?#iefix) format("embedded-opentype"), url(fonts/ubuntu-v12-latin-700italic.woff2) format("woff2"), url(fonts/ubuntu-v12-latin-700italic.woff) format("woff"), url(fonts/ubuntu-v12-latin-700italic.ttf) format("truetype"), url(fonts/ubuntu-v12-latin-700italic.svg#Ubuntu) format("svg")
}


body{
	font-size: 16px;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

h1 {
    font-size: 42px;
    letter-spacing: 2px;
}

a {
    color: #000;
    text-decoration: none;
}

.row {
    max-width: 80%;
    margin: 0 auto;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.top-bar {
    position: relative;
    background-color:#fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    box-shadow: 1px 1px 10px 1px #ccc;
}

.top-bar .clearfix {
    padding: 20px 50px;
}
.contacts {
    border-bottom: 1px solid #EEE;
}
.contacts li {
    font-size: 14px;
    margin-top: 12px;
}

.top-bar button {
    margin: 0 10px;
    font-size: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.left-sided {
    float: left;
}

.right-sided {
    float: right;
}

.main-logo img{
    width: 375px;
    margin-left: -6px;
}

li {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
}

button {
    cursor: pointer;
}

.main-nav-tab {
    position: relative;
    top: 50px;
    font-size: 16px;
    font-weight: normal;
    color: #34404b;
}
.main-nav-tab li {
    margin-right: 30px;
}
.main-nav-tab li.active a{
        color: #FF5912;
    }
    .main-nav-tab li:hover a{
        color: #FF5912;
    }
    .main-nav-tab li.active:after{
        content: "";
        display: block;
        width: 20px;
        border-bottom: 5px solid #ff0000;
        margin-top: 5px;
    }
.main-nav-tab li:last-child {
    margin-right: 0px;
}

button.filled-vermilion {
    margin-top: 50px;
    padding: 10px 50px;
    border: none;
    display: block;
    font-size: 18px;        
    background: #fc4111;
    color: #fff;
}

button.border-vermilion {
    padding: 10px 40px;
    border: 2px solid #ff0000;
    background: none;
    border-radius: 5px;
    font-size: 14px;
}

.black-bg {
    background: rgb(47, 47, 47);
    color: #FFF;
}
.home {
    /*margin-top: 205px;*/
    text-align: center;
    background-color: #F1F1F1;
    background-image: url(assets/Banner-Base-White.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-divider{
    position: relative;
    bottom: -26px;
    right: 5%;
}
.slider-img{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.home div {
    margin: 160px 0;
    display: inline-block;
    text-align:left;
    width: 100%;
}
.home h1 {
    line-height: 56px;
    margin-bottom: 18px;
}
.home p {
    line-height: 1.5;
    font-size: 24px;
    font-weight: 400;
}

.dates ul {
    padding: 15px 0;
}
.dates li {
    margin: 0px;
}
.dates li span:last-child {
    margin-left: 35px;
}
.dates li:last-child {
    border-left: 1px solid #ccc;
    padding-left: 40px;
    margin-left: 40px;
}

.about {
    background: #F4F6F8;
}
.about .row {
    padding: 100px 0 75px;
}

.about h1{
    text-align: center; 
}
.about p{
    margin-top: 20px;
    line-height: 1.5; 
    font-size: 20px;
    font-weight: 400;
}


.levels .row {
    padding: 100px 0 75px;
}

.levels h1,
.levels .tabs {
    text-align: center;
}

.levels .tabs {
    margin: 25px;
    position: relative;
}

.levels .tabs li {
    width: 140px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    text-align: center;
}

.levels .tabs li:first-child {
    margin-left: -270px;
    text-align: right;
}

.levels .tabs li:last-child {
    margin-left: 200px;
    text-align: left;
}

.levels .content {
    margin-top:20px;
    font-size: 20px;
    line-height: 29px;
    font-weight: normal;
}
.levels .content .row {
    display: flex;
    padding: 40px 0 0;
    max-width: 100%;
}

.pd10{
    padding-top: 10px;
}

.mt25{
    margin-top: 25px;
}

.levels .content .col {
    width: 40%;
    font-weight:bold;
}

.levels .content .col2{
    width: 60%;
    font-weight: normal;
}

.highlight {
    color: #ff5912;
}
.note {
    background: #fce689;
    padding: 25px 35px;
    display: inline-block;
    width: 450px;
    position: relative;
} 
.note:before {
    position: absolute;
    content: "";
    top: 66px;
    left: -50px;
    border-top: 33px solid #fce689;
    border-left: 81px solid transparent;
    z-index: 2;
    overflow: visible;
    transform: rotate(-52deg);
}
.note p {
    margin: 10px 0;
} 


.testimonials{
    background: #F1F1F1;
}


.testimonials .row {
    padding: 100px 0 75px;
}

.testimonials h1,
.testimonials p {
    text-align: center;
}

.testimonials p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}
.carousel-wrap {
    position: relative;
    margin-top: 50px;
    width: 100%;
}
.nav-button {
    position: relative;
    width: 100%;
    z-index: 20;
}

.arrow  {
    position: absolute;
    top: 175px;
    font-size: 56px;
    color: rgb(255,62,17);
    cursor: pointer;
}
.left-arrow {
    left: 0px;
}
.right-arrow {
    right: 0px;
}

.slide {
    position: relative;
    width: 751px;
    height: 371px;
    box-shadow: 0px 1px 10px 1px #ccc;
    margin: 0 50px;
}
.slide::before, 
.slide::after {
    content: ' ';
    position:absolute;
    height: 100%;
    top: 0px;
    z-index: 0;
}

.slide::before {
    width: 20%;
    left: 0px;
    background: #F7F7F7;
}
.slide::after {
    width: 80%;
    background: #FFF;
    left: 20%;
}

.slide img {
    position: absolute;
    left: 20%;
    top: 35%;
    margin-left: -65px;
    width: 108px;
    height: 150px;
    border: 1px solid;
    z-index: 1;
}

.slide-data {
    position: absolute;
    left: 25%;
    z-index: 1;
    top: 20px;
    padding: 30px;
    line-height: 1.5;
}

.slide-data p {
    text-align: left;
    width: 480px;
}

.slide-data .name-plat {
    padding: 20px 0 10px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.testimonials .color-logo {
    position: absolute;
    right: 0;
    margin-right: 30px;
    bottom: 30px;
}


.certified-users .row {
    padding: 100px 0 75px;
}

.certified-users h1,
.certified-users p {
    text-align: center;
}

.certified-users p {
    margin-top: 20px;
}
.certified-users .grid {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 34px;
}

.certified-users .card {
    position: relative;
    margin: 30px 20px;
    width: 221px;
    height: 430px;
    box-shadow: 0px 1px 11px 0px #ccc;
}

.certified-users .card:first-child {
    display: inline-block;
}


.certified-users .card::before, 
.certified-users .card::after {
    content: ' ';
    position:absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

 .card:hover::after{
    width: 100%;
    -webkit-transition:all .5s linear;
  -moz-transition:all .5s linear;
  -o-transition:all .5s linear;
  transition:all .5s linear;
}

.certified-users .card::before {
    background: #EFEFEF;
}


.certified-users .card img {
    width: 125px;
    height: 173px;
    position: absolute;
    border: 1px solid;
    left: 50%;
    margin-left: -90px;
    top: 60px;
}

.certified-users .card .name-plat {
    position: absolute;
    top: 250px;
    left: 50%;
    width: 180px;
    margin-left: -90px;
    padding-bottom: 17px;
    border-bottom: 1px solid;
    font-size: 16px;
    line-height: 1.5;
}

.certified-users .card .name-plat div {
    color: #666;
}

.certified-users .card .certificate {
    position: absolute;
    top: 360px;
    width: 180px;
    left: 50%;
    font-size: 19px;
    margin-left: -90px;
    color: #666;
}

.color-logo span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 2px;
}

.color-logo .blue {
    background: rgb(56, 127, 203)
}

.color-logo .yellow {
    background: rgb(247, 206, 68)
}

.color-logo .orange {
    background: rgb(232, 106, 28)
}

.color-logo .red {
    background: rgb(232, 28, 28)
}

.color-logo .gray {
    background: rgb(196, 195, 195);
}


footer {
    background: #F1F1F1;
}

footer > div {
    display: inline-block;
    width: 100%;
}

.socials {
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #fff;
}
.socials ul {
    margin-top: 15px;
}

.socials li {
    margin: 0 5px;
}

.fa {
  text-decoration: none;
  font-size: 21px;
  color: rgb(255,62,17);
}

.footer-nav {
    padding: 35px 50px 20px;
    font-size: 18px;
}

.footer-nav ul{
    display: flex;
}
.footer-nav li{
    margin-left: 40px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
.footer-nav li.active a{
        color: #FF5912;
    }
    .footer-nav li:hover a{
        color: #FF5912;
    }
    .footer-nav li.active:after{
        content: "";
        display: block;
        width: 20px;
        border-bottom: 5px solid #ff0000;
        margin-top: 5px;
    }
.footer-nav li:first-child{
    margin-left: 0px;
    width: 115px;
}
.footer-nav img {
    width: 82px;
}

.external-links {
    padding: 20px 50px 35px;
    font-size: 18px;
}

.external-links ul{
    display: flex;
}

.external-links li{
    margin-left: 40px;
    display: block;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
.external-links li:first-child{
    margin-left: 0px;
    width: 115px;
}

.external-links .payments li:first-child{
    width: 137px;
}

.external-links .payments img {
    width: 170px;
}

.external-links .logo img {
    width: 100px;
}

.external-links .payments li:first-child{
    margin-right: 0px;
}

.login{
    font-size: 14px;
    font-size: normal;
}
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: transparent;
  width:56%;
  margin: 25px auto 0;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
  padding: 14px 42px;
  color: #ff5912;
  font-weight: normal;
}

.tab button.active{
  color:#3b3a3a;
  font-weight: 700;
}

/* Change background color of buttons on hover */
/*.tab button:hover {
  content: "";
  display: block;
  width: 20px;
  border-bottom:5px solid #ff0000;
  margin-top: 5px;
}*/

/* Create an active/current tablink class */
.tab button.active:after {
  content: "";
  display: block;
  width: 20px;
  border-bottom:5px solid #ff0000;
  margin-top: 5px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
/**/
#testimonials-slides{
    position: relative;
    display: inline-block;
    -webkit-transition:all .5s linear;
  -moz-transition:all .5s linear;
  -o-transition:all .5s linear;
  transition:all .5s linear;
}

#testimonials-slides .slide{
    display: inline-block;
    float: left;
    opacity: 0.5;
    transform: scale(0.9);
    -webkit-transition:all .5s linear;
  -moz-transition:all .5s linear;
  -o-transition:all .5s linear;
  transition:all .5s linear;
}
#testimonials-slides .slide.active{
    opacity: 1;
    
  transform: scale(1);
}
.slide-data p:before {
    content: '"';
    display: inline-block;
    position: absolute;
    left: -15px;
    color: gray;
    font-size: 65px;
    top: 31px;
}
.icon{
    width:20px;
    height: auto;
    margin-right: 7px;
}
.icon-mobile{
    width: 14px;
}

.sticky .main-logo img{
    width: 250px;
}
.sticky.clearfix{
    padding: 10px 50px;
    box-shadow: 1px 1px 10px 1px #ccc;
}
.sticky .right-sided .main-nav-tab{
    top:15px;
}
.testimonials{
    /*display: none;*/
}
/*Slider*/
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    margin-left: 0 3%;
    width: 2rem;
    cursor: pointer;
}

.button--inactive {
    opacity: 0.2;
}

.button img {
    width: 60%;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.box {
/*     margin: -1.5rem; */
    width: 52rem;
    height: 20rem;
    /*box-shadow: 0px 0px 2rem 0px #888888;
    background-color: white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 70px;
    /* transition: 1s all; */
}

.box:nth-child(2n) {
    transform: scale(0.85);
    z-index: -1;
}

.box:nth-child(2) {
  left: 5%;
}

.box:nth-child(4) {
  left: -5%;
}

.box:nth-child(4n + 1) {
    transform: scale(0.75);
    z-index: -2;
}

.box:nth-child(1) {
  left: 15%;
}
.left_click{
    position: absolute;
    left: 0;
    z-index: 5;
}
.right_click{
    position: absolute;
    right: 0;
    z-index: 5;
}
.box:nth-child(5) {
  left: -15%;
}

.card__text-content {
    text-align: center;
    width: 75%;
}

.card__title {
    padding: 1rem;
}

.box--hide {
    display: none;
}

.move-out-from-left {
    animation: moveOutLeft 0.5s ease-in-out;
}

.move-out-from-right {
    animation: moveOutRight 0.5s ease-in-out;
}

.move-to-position5-from-left {
    animation: moveToP5Left 0.5s ease-in-out;
}

.move-to-position4-from-left {
    animation: moveToP4Left 0.5s ease-in-out;
}

.move-to-position3-from-left {
    animation: moveToP3Left 0.5s ease-in-out;
}

.move-to-position2-from-left {
    animation: moveToP2Left 0.5s ease-in-out;
}


.move-to-position1-from-left{
    animation: moveToP1Left 0.5s ease-in-out;
}

.move-to-position5-from-right{
    animation: moveToP5Right 0.5s ease-in-out;
}
.move-to-position4-from-right{
    animation: moveToP4Right 0.5s ease-in-out;
}
.move-to-position3-from-right{
    animation: moveToP3Right 0.5s ease-in-out;
}
.move-to-position2-from-right{
    animation: moveToP2Right 0.5s ease-in-out;
}
.move-to-position1-from-right{
    animation: moveToP1Right 0.5s ease-in-out;
}

@keyframes moveOutLeft {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(-150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveOutRight {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}


@keyframes moveToP5Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP4Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP2Left {
    from {
        transform: scale(1) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP1Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}


@keyframes moveToP1Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP2Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP4Right {
    from {
        transform: scale(1) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP5Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

/* Portrait and Landscape */
@media only screen and (max-device-width: 1280px) {
    .carousel-wrap{
        overflow: hidden;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .main-nav-tab {
        top: 15px;
    }
    .home div {
        margin: 80px 30px;
        width: auto;
    }
    .home .row {
        margin: 80px 30px;
        width: auto;
    }
    h1 {
        font-size: 32px;
    }
    p {
        font-size: 20px;
    }

    .dates ul {
        padding: 15px 80px;
    }

    .about .row,
    .levels .row,
    .testimonials .row,
    .certified-users .row {
        /*padding: 70px 80px;*/
    }

    .external-links .left-sided,
    .external-links .right-sided {
        float: none;
    }

    .external-links li{
        margin-left: 10px;
    }
    .external-links .right-sided {
        display: block;
        margin-top: 30px;
    }
    .carousel-wrap{
        overflow: hidden;
        width: 100%
    }
    .slide-data{
        position: relative;
        left: 16%;
        z-index: 1;
        top: 20px;
        padding: 30px;
        line-height: 1.5;
        width: 70%;
        padding-bottom: 85px;
    }
    .testimonials p{
        font-size: 16px;
    }
    .slide img{
        left: 11%;
        bottom: 7%;
        margin-left: 0px;
        width: auto;
        height: 127px;
        top: unset;
    }
    .slide{
        width: 100%;
        height: auto;
        box-shadow: 0px 1px 10px 1px #ccc;
        margin: 0 50px;
        max-width: 600px;
    }
    .slide-data .name-plat{
        position: relative;
        left: 13%;
    }
    .certificate{
        position: relative;
        left: 13%;
    }
    .testimonials .color-logo{
        position: absolute;
        left: 18%;
        margin-right: 0px;
        bottom: 62px;
    }
}
@media only screen and (max-device-width: 768px) {
    .note{
        width:100%;
    }
    .carousel-wrap{
        overflow: hidden;
        width: 100%
    }
    .slide-data p{
        width: 100%;
        margin-bottom: 22px;
    }
    .slide-data{
        position: relative;
        left: 16%;
        z-index: 1;
        top: 20px;
        padding: 30px;
        line-height: 1.5;
        width: 70%;
        padding-bottom: 85px;
    }
    .testimonials p{
        font-size: 16px;
    }
    .slide img{
        left: 11%;
        bottom: 7%;
        margin-left: 0px;
        width: auto;
        height: 127px;
        top: unset;
    }
    .slide{
        width: 100%;
        height: auto;
        box-shadow: 0px 1px 10px 1px #ccc;
        margin: 0 50px;
        max-width: 600px;
    }
    .slide-data .name-plat{
        position: relative;
        left: 13%;
    }
    .certificate{
        position: relative;
        left: 13%;
    }
    .testimonials .color-logo{
        position: absolute;
        left: 18%;
        margin-right: 0px;
        bottom: 62px;
    }
    .top-bar {
        position: relative;
    }
    .sticky.clearfix{
        box-shadow: 1px 1px 10px 1px #ccc;
    }
    
    .top-bar .fa {
        font-size: 36px;
        margin-right: 10px;
    }

    .top-bar button {
        margin: 0 25px;
        font-size: 16px;
    }
    .contacts {
        border-bottom: 3px solid #EEE;
    }

    .contacts li {
        font-size: 16px;
        margin-top: 10px;
    }
    .main-logo img {
        width: 210px;
    }
    .right-sided {
        margin: 0px 0;
    } 
    .main-nav-tab li {
        margin-right: 30px;
        font-size: 16px;
    }

    .home {
        background-size: 30%;
        margin-top: 0px;
    }

    .home div {
        margin: 80px 30px;
        width: auto;
    }
    .home .row {
        margin: 80px 30px;
        width: auto;
    }

    .home h1 {
        line-height: 43px;
        width: 100%;
        font-size: 31px;
        font-weight: 500;
    }
 
    .home p {
        line-height: 32px;
        max-width: 755px;
        font-size: 26px;
        margin-top: 35px;
    }
    
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }

    button.filled-vermilion {
        padding: 20px 100px;
        font-size: 18px;
    }


    .dates ul {
        /*padding: 35px 80px;*/
    }

    .dates li {
        margin: 0;
        display: block;
        font-size: 14px;
    }

    .dates li span:last-child {
        /*margin-left: 350px;*/
    }
    .dates li{
        width: 100%;
    }
    .left{
        /*float: left;*/
    }
    .right{
        float: right;
    }
    .dates li:last-child {
        border: none;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 25px;
    }
    .dates li:last-child span:last-child {
        margin-left: 0px;
    }

    .about p {
        margin-top: 50px;
        line-height: 1.75;
    }

    .about .row,
    .levels .row,
    .testimonials .row,
    .certified-users .row {
        padding: 61px 0 75px;
    }
    .tab{
        width: 80%;
    }
    .tab button{
        padding: 14px 30px;
    }
    .certified-users .card {
        margin: 50px 15px;
        width: 620px;
        height: 1020px;
    }
    .certified-users .card img {
        width: 330px;
        height: 460px;
        border: 3px solid;
        margin-left: -200px;
        top: 130px;
    }
    .certified-users .card .name-plat {
        top: 640px;
        left: 50%;
        width: 410px;
        margin-left: -202px;
        font-size: 38px;
        line-height: 1.5;
    }
    .certified-users .card .certificate {
        top: 860px;
        width: 420px;
        font-size: 42px;
        margin-left: -200px;
    }
    .color-logo span {
        width: 10px;
        height: 10px;
        margin-right: 6px;
    }

    .external-links .left-sided,
    .external-links .right-sided {
        float: none;
    }

    .external-links li{
        margin-left: 10px;
    }
    .external-links .right-sided {
        display: block;
        margin-top: 30px;
    }

    .socials {
        text-align: center;
        padding: 60px 0;
    }
    .socials h5 {
        font-size: 42px;
    }
    .socials ul {
        margin-top: 55px;
    }
    .socials li {
        margin: 0 20px;
    }
    .fa {
        font-size: 60px;
    }

    .footer-nav {
        padding: 70px 50px 20px;
        font-size: 48px;
    }
    .footer-nav ul {
        display: block;
        text-align: center;
    }
    .footer-nav li:first-child {
        margin-left: 0px;
        width: auto;

    }
    .footer-nav li {
        margin-top: 50px;
        display: block;
    }
    .footer-nav img {
        width: 172px;
    }

    .external-links {
        padding: 100px 50px 35px;
        font-size: 48px;
        text-align: center;
    }
    .external-links .left-sided, .external-links .right-sided {
        float: none;
    }
    .external-links ul {
        display: block;
        text-align: center;
    }
    .external-links li:first-child {
        margin-left: 0px;
        width: auto;
    }
    .external-links li {
        margin-top: 50px; 
    }

    .external-links .right-sided {
        font-size: 48px;
        text-align: center;
        margin-top: 180px;
    }
    .external-links .payments li:first-child {
        margin-right: 0;
        width: auto;
    }
    .external-links .payments img {
        width: 100%;
    }
    .external-links .logo img {
        width: 280px;
    }
  }

  @media only screen and (max-device-width: 767px) {
    /*tabs*/
    .levels .content .row{
        display: block;
    }
    .levels .content .col{
        width: 100%;
    }
    .levels .content .col2{
        width: 100%;
    }
    .note:before{
        top: -38px;
        left: -5px;
        border-top: 33px solid #fce689;
        border-left: 62px solid transparent;
        z-index: 2;
        overflow: visible;
        transform: rotate(112deg);
    }
    .levels .row {
        padding: 70px 0 75px;
    }
    .levels .row h1{
        text-align: left;
        margin-left: 10px
    }
    .tab button {
        padding: 14px 13px;
        font-size: 16px;
        font-weight: 400;
    }
    .about p {
        margin-top: 33.9px;
    }
    .dates ul {
        padding: 31px 0;
    }
    .home p {
        line-height: 36px;
        max-width: 755px;
        font-size: 18px;
        margin-top: 35px;
    }
    .home button.filled-vermilion{
        margin-top: 31px;
        padding:20px 67px;
        font-weight: 400;
    }
    .img-divider{
        right: 0;
    }
    .slider-img{
        width: 37%;
        height: auto;
    }
    /*nav menu*/
    .contacts li {
        font-size: 12px;
    }
    .icon {
        width: 12px;
    }
    .top-bar button{
        padding: 4px 13px;
        font-size: 12px;
        margin: 0 0 0 19px;
    }
    .login {
        font-size: 12px;
    }
    .contacts ul{
        text-align: right;
    }
    .contacts .right-sided{
        margin-top:11px;
    }
    .contacts .left-sided {
        float: none;
    }
    .top-bar .clearfix{
        padding: 20px 40px;
    }
    .main-logo img{
        width: 100%;
    }
    .main-nav-tab li{
        margin-right: 12px;
        font-size: 14px;
    }
    .main-nav-tab li.active a{
        color: #FF5912;
    }
    .main-nav-tab li:hover a{
        color: #FF5912;
    }
    .main-nav-tab li.active:after{
        content: "";
        display: block;
        width: 20px;
        border-bottom: 5px solid #ff0000;
        margin-top: 5px;
    }
    .main-nav-tab{
        position: initial;
        font-size: 14px;
        margin-top:40px;
    }
    /**/
    .tabcontent p{
        font-size: 22px;
        font-weight: 400;
    }
    .note p.mt24{
        margin-top: 24px;
    }
    .course button.filled-vermilion{
        margin-top: 33px;
        padding: 13px 67px;
    }
    .tabcontent .row .col{
        font-size: 22px;
        font-weight: 700;
        color: #696969;
    }
    .tabcontent .row .col2.course{
        margin-top: 50px;
    }
    .levels .content .row{
        padding: 43px 0 0;
    }
    .certified-users .card{
        margin: 30px 15px;
        width: 100%;
        height: auto;
        position: relative;
        padding: 50px 50px 33px;
    }
    .certified-users .card img{
        width: 78%;
        height: auto;
        border: 3px solid;
        margin-left: 0px;
        top: 0px;
        position: relative;
        left: 0;
    }
    .certified-users .card .name-plat{
        width: 100%;
        margin-left: 0px;
        font-size: 16px;
        line-height: 1.5;
        position: relative;
        top: 0px;
        left: 0;
        margin-top: 33px;
    }
    .certified-users .card .name-plat div{
        font-size:14px;
        font-weight: 400;
    }
    .certified-users .card .certificate{
        width: 100%;
        font-size: 16px;
        /* margin-left: -200px; */
        position: relative;
        top: 0px;
        left: 0px;
        margin: 18px 0 0;
    }
    .color-logo span{
        width: 10px;
        height: 10px;
        margin-top: 8px;
    }
    .tab{
        width: 100%;
    }
  }
@media only screen and (max-device-width: 480px) {
    .slide{
        max-width: 350px;
        margin: 0;
    }
}